/* The page is NOT responsive. You can implement responsiveness yourself if you wanna have some fun 😃 */

:root {
	--color-primary: hsl(122, 32%, 60%);
	--color-secondary: hsl(156, 32%, 58%);
	--color-primary-darker: hsl(162, 25%, 42%);
	--color-secondary-darker: hsl(156, 38%, 48%);
	--color-text: hsl(0, 0%, 15%);
	--color-text-offwhite: hsl(0, 0%, 95%);
	--color-text-muted: hsl(0, 0%, 55%);
	--gradient-primary: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-darker));
	--gradient-secondary: linear-gradient(to bottom right, var(--color-secondary-darker), var(--color-primary));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	color: var(--color-text);
	line-height: 1.5;
	width: 100vw;
}

/* NAVIGATION */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding: 1rem 5rem;
	border-bottom: 1px solid hsl(0, 0%, 85%);
	z-index: 100;
}

.nav .header__logo {
	display: flex;
	height: 4rem;
	align-items: center;
	justify-content: start;
	min-width: 200px;
}

.nav .header__logo > img:nth-child(1) {
	height: clamp(3rem, 2.429rem + 1.19vw, 3.5rem);
	margin-right: 1rem;
}

.nav .header__logo > img:nth-child(2) {
	height: clamp(1.2rem, 0.857rem + 0.71vw, 1.5rem);
}

/* nav and sticky class at the same time */
.nav.sticky {
	position: fixed;
	background-color: #fff;
	transition: all 0.3s;
}

.nav__list--container {
	display: flex;
}

.nav__list {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav__item {
	width: 100%;
	padding-left: 1.5rem;
	text-wrap: nowrap;
}

.nav__link:link,
.nav__link:visited {
	font-weight: 400;
	color: inherit;
	text-decoration: none;
	display: block;
	transition: all 0.2s ease-in;
}

.nav__link--btn:link,
.nav__link--btn:visited {
	text-wrap: nowrap;
}

.nav__link--btn:hover,
.nav__link--btn:active {
	color: inherit;
	color: var(--color-text);
}

@media (max-width: 768px) {
	.nav {
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}
}

/* HEADER */
.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero {
	flex: 1;
	display: grid;
	/* grid-template-columns: 1fr 1fr; */
	row-gap: 2.5rem;
	column-gap: 2.5rem;
	align-content: center;
	justify-items: start;
}

.hero h1 {
	font-size: clamp(1rem, 6.67vw, 3.8rem);
	text-wrap: nowrap;
}

.hero > span {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.header__img {
	justify-self: end;
	width: 80%;
	min-width: 350px;
	grid-column: 2 / 3;
	grid-row: 1 / 4;
}

.highlight {
	position: relative;
}

.highlight::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -10%;
	left: 0;
	height: 120%;
	width: 100%;
	z-index: -1;
	opacity: 0.75;
	transform: scale(1.07, 1.05) skewX(-15deg);
	background-image: var(--gradient-primary);
}

.btn {
	background: var(--gradient-primary);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-family: inherit;
	text-wrap: nowrap;
	padding: 1rem 2.5rem;
	width: clamp(9.375rem, 5.804rem + 7.44vw, 12.5rem);
	max-width: 200px;
	cursor: pointer;
}

.btn:hover {
	outline: 1px solid var(--color-primary-darker);
	outline-offset: 2px;
}

.btn--text {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 1rem;
	border: 1px solid var(--color-primary-darker);
	color: var(--color-primary-darker);
	background: none;
}

/* GENERAL ELEMENTS */
.section {
	margin: 0 auto;
	padding: 7.5rem 0rem;
	max-width: 80vw;
	border-top: 1px solid #ddd;
	transition: transform 1s, opacity 1s;
}

.section--hidden {
	opacity: 0;
	transform: translateY(10rem);
}

.section__title {
	margin: 0 auto 6rem auto;
}

.section__description {
	font-size: 1.8rem;
	text-transform: uppercase;
	color: var(--color-primary-darker);
	margin-bottom: 1rem;
}

.section__header {
	font-weight: 400;
}

p {
	color: var(--color-text-muted);
}

img {
	transition: filter 0.5s;
}

.lazy-img {
	filter: blur(20px);
}

/* FEATURES */
.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.features__img {
	width: 100%;
	border-radius: 16px;
}

.features__feature {
	align-self: center;
	justify-self: center;
	width: 85%;
}

.features__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	color: hsl(0, 0%, 95%);
	font-size: 1.25rem;
	width: 3.5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	margin-bottom: 1.5rem;
}

.features__header {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

@media (max-width: 768px) {
	.features {
		grid-template-rows: repeat(1fr, 6);
		grid-template-columns: 1fr;
	}

	.features__img:nth-of-type(1) {
		order: 0;
	}

	.features__img:nth-of-type(2) {
		order: 2;
	}

	.features__img:nth-of-type(3) {
		order: 4;
	}

	.features__feature:nth-of-type(1) {
		order: 1;
	}

	.features__feature:nth-of-type(2) {
		order: 3;
	}

	.features__feature:nth-of-type(3) {
		order: 5;
	}
}

/* OPERATIONS */
.operations {
	margin: 7.5rem auto 0 auto;
	background-color: hsl(0, 0%, 95%);
	max-height: 425px;
	min-height: 40vh;
	border-radius: 16px;
}

.operations__tab--container {
	display: flex;
	justify-content: center;
}

.operations__tab {
	position: relative;
	padding: 1rem;
	border: none;
	border-radius: 8px;
	background-color: var(--color-primary);
	margin-right: 1rem;
	transform: translateY(-50%);
}

.operations__tab:hover {
	background-color: var(--color-secondary);
}

.operations__tab span {
	margin-right: 1rem;
	font-weight: 600;
	display: inline-block;
}

.operations__tab--3 {
	margin: 0;
}

.operations__tab--active {
	background-color: var(--color-secondary);
	transform: translateY(-2.25rem);
	box-shadow: 0rem 0.65rem 0 0 var(--color-primary-darker);
}

.operations__content {
	display: none;
	padding: 2.5rem;
	max-width: 80%;
	margin: 0 auto;
	gap: 1rem;
}

.operations__content--active {
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	column-gap: 1rem;
}

.operations__header {
	font-weight: 500;
	align-self: center;
	font-size: 1rem;
}

.operations__icon {
	grid-column: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: clamp(1rem, 0.429rem + 1.19vw, 1.5rem);
	max-width: 3.5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: var(--color-secondary);
	color: hsl(0, 0%, 95%);
}

.operations__content p {
	grid-column: 2;
}

@media (max-width: 768px) {
	.operations__content {
		max-width: 100%;
	}
}

/* SLIDER */
.slider {
	position: relative;
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 95%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: transform 1s;
	padding: 2rem 4rem;
}

.slider__btn {
	position: absolute;
	top: 50%;
	z-index: 10;
	height: 3.5rem;
	aspect-ratio: 1;
	background: none;
	border: none;
	border-radius: 50%;
	font-family: inherit;
	text-align: center;
	font-size: 1.25rem;
	color: var(--color-text);
	cursor: pointer;
}

.slider__btn--left {
	left: 5%;
	transform: translate(-50%, -50%);
}

.slider__btn--right {
	right: 5%;
	transform: translate(50%, -50%);
}

.dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.dots__dot {
	height: 1rem;
	aspect-ratio: 1;
	border-radius: 50%;
	margin-right: 1.25rem;

	cursor: pointer;
	transition: all 0.5s;

	border: none;
	background-color: var(--color-text);
	opacity: 0.45;
}

.dots__dot:last-child {
	margin: 0;
}

.dots__dot--active {
	background-color: var(--color-text);
	opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
	width: 80%;
	margin: 0 auto;
}

.testimonial__header {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

.testimonial__text {
	position: relative;
	margin-bottom: 2rem;
	color: var(--color-text-muted);
}

.testimonial__text::before {
	content: "\201C";
	position: absolute;
	top: 5rem;
	left: -4rem;
	font-family: sans-serif;
	font-size: 18rem;
	line-height: 1rem;
	color: var(--color-primary-darker);
	opacity: 0.15;
}

.testimonial__text::after {
	content: "\201D";
	position: absolute;
	bottom: -3rem;
	right: -4rem;
	font-family: sans-serif;
	font-size: 18rem;
	line-height: 1rem;
	color: var(--color-primary-darker);
	opacity: 0.15;
}

.testimonial__author {
	margin-top: auto;
	display: grid;
	grid-template-columns: 7.25rem 1fr;
	/* column-gap: 2rem; */
	/* margin: 0 auto; */
	font-style: normal;
}

.testimonial__photo {
	grid-row: 1 / span 2;
	width: clamp(3rem, 12.5vw, 7.5rem);
	border-radius: 50%;
}

.testimonial__name {
	align-self: end;
	font-size: 1rem;
	font-weight: 500;
}

/* SIGNUP */
.section--sign-up {
	border-top: 1px solid hsl(0, 0%, 85%);
	text-align: center;
}

.section--sign-up .section__header {
	text-align: center;
}

.section--sign-up .btn {
	font-size: inherit;
	font-family: inherit;
}

/* FOOTER */
.footer {
	padding: 2rem 0rem;
	background-color: var(--color-text);
}

.footer__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem;
	list-style: none;
}

.footer__item {
	color: hsl(0, 0%, 85%);
	margin-right: 2rem;
}

.footer__link {
	color: #fff;
	text-decoration: none;
}

.footer__logo {
	display: block;
	height: 10rem;
	margin: 2.5rem auto;
}

.footer__copyright {
	font-size: 0.8rem;
	color: hsl(0, 0%, 65%);
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
}

/* MODAL WINDOW */
/* the 'fixed' positions allows the element to move along with the scroll of the page */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 768px;
	z-index: 1000;
	transform: translate(-50%, -50%);
	padding: 5rem 5rem;
	border-radius: 16px;
	background-color: #fff;
	transition: all 0.5s;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
	transition: all 0.5s;
}

.modal__header {
	text-align: center;
	margin-bottom: 4.5rem;
}

.modal__form {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1.5rem;
}

.modal__form label {
	font-weight: 500;
}

.modal__form input {
	padding: 1rem 1.5rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
}

.modal__form button {
	grid-column: 1 / span 2;
	width: 100%;
	justify-self: center;
	margin-top: 1rem;
}

.btn--close-modal {
	margin-left: 100%;
	border: none;
	background: none;
	font-family: inherit;
	font-size: 2rem;
	color: inherit;
	cursor: pointer;
}

.hidden {
	display: none;
}

/* COOKIE MESSAGE */
.cookie-message {
	position: fixed;
	bottom: 0;
	width: 100vw;
	padding: 1rem 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	z-index: 1000;
	border-top: 1px solid hsl(0, 0%, 55%);
	background-color: hsl(0, 0%, 15%);
	font-weight: 400;
	font-size: 0.8rem;
}

.cookie-message p {
	color: var(--color-text-offwhite);
}
